
body {
    margin: 0;
}

h1 {
    text-align: center;
    color: red;
    font-size: 60px;
    font-weight: 800;
    font-family: monospace;
    letter-spacing: 50px;
}

ul.pokemon-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.buttonStyle {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    padding: 25px;
    background-color: lightcoral;
    color: white;
    text-align: center;
    letter-spacing: 5px;
    font-size: 32px;
    text-transform: capitalize;
    border: 0cap;
}

